/* Responsive Styles */
@media (max-width: 768px) {
  nav ul { display: none; flex-direction: column; }
  nav .hamburger { display: block; }
  #nav-list.show { display:flex; }
}
@media (max-width: 768px) {
  .blog-list article { flex: 1 1 100%; }
}
